{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class='main' style="margin-bottom: 10rem;">
    <div class="title-holder" style="margin-left: 15%; width: 70%;" >
        <h2 id="title">Shopping Cart</h2>
        <div class="card-body">
            <div id="title-body">
                <div class="specs">ITEMS : <b style="color:#53C286;">{{total_items}}</b></div>
                <div class="specs">TOTAL : <b style="color:#53C286;">₹{{order.get_cart_total|floatformat:2}}</b></div>
                <a href="{%url 'checkout'%}" class="checkout-btn" type="submit" >Checkout</a>
            </div>
        </div>
    </div>

    <div class="title-table">
        <div class="cart-row">
            <div style="flex:2; text-align: center; margin-top:15px;"><strong>Item</strong></div>
            <div style="flex:1; margin-top:15px;"><strong>Price</strong></div>
            <div style="flex:1; margin-top:15px;"><strong>Quantity</strong></div>
            <div style="flex:1; margin-top:15px;"><strong>Total</strong></div>
        </div>
        <hr>
        {% for item in items %}
        <div class="item-table" style="text-align: left;">
            <div style="flex:1"><img class="row-image" height="100px" src="{{item.product.ImageURL}}" style="border-radius: 5px;"></div>
            <div style="flex:1"><p>{{item.product.name}}</p></div>
            <div style="flex:1"><p>₹{{item.product.price}}</p></div>
            <div style="flex:1"><p style="margin-left: 20%;">{{item.quantity}}</p></div>
            <div id="total"><p>₹{{item.get_total}}</p></div>
        </div>
        <hr>
        {% endfor %}
    </div>

</div>
{% endblock content %}
