{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="title-holder" style="margin-left: 15%; width: 70%;" >
    <h2 id="title">Check Out</h2>
    <div class="card-body">
        <div id="title-body">
            <div class="specs">ITEMS : <b style="color:#53C286;">{{total_items}}</b></div>
            <div class="specs">TOTAL : <b style="color:#53C286;">₹{{order.get_cart_total|floatformat:2}}</b></div>
            <a href="{%url 'cart'%}" class="checkout-btn" type="submit" >Back to Cart</a>
        </div>
    </div>
</div>
<div class="checkout-container">
    <div id="peronal-form">
        <form id="form">
            <div id="user-info">
                <h3 id="personal-info"> Personal Info</h3>
                <hr>
                <div class="form-field" id="personal-form">
                    <input required class="form-item" type="text" name="name" placeholder="Name..">
                    <input required class="form-item" type="email" name="email" placeholder="Email..">
                </div>
                <hr>
            </div>
            
            <div id="shipping-info" style="margin-top: 30px;">
                <h3 id="personal-info">Shipping Information:</h3>
                <div class="form-field">
                    <input required class="form-item" style="width:92%;" type="text" name="address" placeholder="Address..">
                    <input required class="form-item" type="text" name="city" placeholder="City..">
                    <input required class="form-item" type="text" name="state" placeholder="State..">
                    <input required class="form-item" type="text" name="zipcode" placeholder="Zip code..">
                    <input required class="form-item" type="text" name="country" placeholder="Country..">
                </div>
            </div>
            <hr>
            <input id="form-button" class="continue-btn" style="border-radius: 5px;" type="submit" value="Continue">
        </form>
        <div id='payment-field' class="payment">
            <h3 class='payment-title'>Payment Options</h3>
            <button id="payment-btn" class="continue-btn"> Make Payment </button>
        </div>
    </div>

    <div class="checkout-order">
        <div class="box-element">
            <h3 id="summary-title">Order Summary</h3>
            <hr>
            <div class="cart-row">
                <div style="flex:1; text-align: center;"><strong>Item</strong></div>
                <div style="flex:1; text-align: center"><strong>Price</strong></div>
                <div style="flex:1; text-align: right"><strong>Quantity</strong></div>
                <div style="flex:1; text-align: center"><strong>Total</strong></div>
            </div>
            <hr>
            {% if items %}
                {% for item in items %}
                <div class="item-row">
                    <div style="flex:2"><img height="75px" src="{{item.product.ImageURL}}"></div>
                    <div style="flex:2"><p>{{item.product.name}}</p></div>
                    <div style="flex:1"><p>{{item.quantity}}</p></div>
                    <div id="total"><p>₹{{item.get_total}}</p></div>
                </div>
                <hr>
                {% endfor %}

                <script>
                    if (user != 'AnonymousUser'){
                        document.getElementById('user-info').innerHTML = ''
                    }
                    const form = document.getElementById('form');
                    let payment_field = document.getElementById('payment-field');
                    let btn = document.getElementById('form-button');
                    form.addEventListener('submit', function(e){
                        e.preventDefault();
                        btn.style.display = 'none';
                        payment_field.style.display = 'block'

                    });
                    const payment_btn = document.getElementById('payment-btn');
                    payment_btn.addEventListener('click', function(){
                        SubmitData()
                    })

                    function SubmitData(){
                        console.log("Payment Made")

                        let UserInfo = {
                            'name': null,
                            'email': null,
                            'total': '{{order.get_cart_total|floatformat:2}}'
                        }
                        let ShippingInfo = {
                            'address': form.address.value,
                            'city': form.city.value, 
                            'state': form.state.value,
                            'zipcode': form.zipcode.value
                        }

                        if(user == 'AnonymousUser'){
                            UserInfo.name = form.name.value
                            UserInfo.email = form.email.value
                        }
                        
                        const payment_url = '/proccess_order/'
                        fetch(payment_url, {
                            method: "POST",
                            'headers': {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrftoken},
                            'body': JSON.stringify({'form': UserInfo, 'shippingInfo': ShippingInfo})
                            }
                        ).then((response) =>{
                            return response.json()})
                        .then((data) => {
                            alert('Transaction Completed')
                            window.location.href="{%url 'store'%}"
                        })

                    }

                </script>

            {% else %}
                <script>
                    const item = document.getElementById('peronal-form');
                    item.innerHTML = `<h6 id="personal-info"> Please Select items to checkout </h6>`
                </script>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
