{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div style="margin-bottom: 3rem;">
    <img class="Slides fade" src="{%static 'images/berry.jpg'%}" height="400vw">
    <img class="Slides fade" src="{%static 'images/strawberry.jpg'%}" height="400vw" >
    <img class="Slides fade" src="{%static 'images/fruites.jpg'%}" height="400vw">
    <img class="Slides fade" src="{%static 'images/orange.jpg'%}" height="400vw">
    
</div>

<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("Slides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block"; 
      setTimeout(carousel, 5000); 
    }
</script>

<div class="card-holder">
{% for product in products %}
    <div class="card" >
        <img src="{{product.ImageURL}}" class="card-img-top" alt="..." style="margin:5px;" height="210px" width="210px">
        <div class="card-body">
          <h4 id="title" style="text-align: center;">{{product.name}}</h4>
          <hr>
          <p id="price">1Kg - <big>₹{{product.price|floatformat:2}}</big></p>
          <div class="btn-holder">
            <a href="#" class="buy-btn" style="border-radius: 5px;">Buy Now</a>
            <a href="#" class="add-to-cart-btn update-button" data-product="{{product.id}}" data-action="add" style="border-radius: 5px;">Add to Cart</a>
          </div>
        </div>
    </div>
{%endfor%}
<div class=footer>
  <div id="back-btn">Back To Top</div>
</div>
<script>
  let btn = document.getElementById('back-btn')
  btn.onclick = function() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
<script src="{% static 'javascript/main.js' %}"></script>
</div>

{% endblock content %}
