$primary: #386C5F;
$secondary: #F7E382;
$accent: #53C286;

.navbar{
	background-color: $primary;
	display:flex;
	position:fixed;
	width:100vw;
	height: 3rem;
	color:white;
	align-items: center;
	justify-content:space-between;
	font-family: 'Manrope', sans-serif;
	gap:5rem;


	.brand-name{
		font-family: 'Pacifico', cursive;
		font-size:clamp(20px, 3vw, 60px);
		text-decoration: none;
		margin-left:10px;

	}
	.login{
		color:$secondary;
		text-decoration: none;
		font-weight: 600;
		padding:3px 10px;
		border-radius:5px;
		border:2px solid $secondary;
		transition:all 500ms ease ;

		&:hover{
			background-color: $secondary;
			color:$primary;
		}

	}
	.form{
		display:flex;
		width:500px;

		.search-bar{
			width:80%;
			outline:none;
			border:none;
			border-radius: 5px;
			margin-right: 5px;
			transition:border 500ms ease ;
			color:rgb(59, 59, 59);
			border:3px solid $secondary;
	
				
		}
		.search-btn{
			color:$primary;
			background-color: $secondary;
			outline:none;
			border: none;
			width:20%;
			border-radius: 5px;
			font-weight: 600;
	
		}
	}
	#cart{
		margin-right:20px;

		#cart-icon{
			font-size:36px;

			&:hover{
				color:$secondary;
			}
		}
	}
	
}

.Slides{
	width:100vw;
}
.card-holder{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;

	.card{
		width: 220px;
		height: 23rem; 
		margin: 1rem 0.25rem; 
		background-color: white;
		transition:box-shadow 500ms ease-in;

		&:hover{
			box-shadow: 4px 4px 6px rgb(206, 206, 206), -4px -4px 6px rgb(206, 206, 206);
		}
	}
}