$primary: #386C5F;
$secondary: #F7E382;
$accent: #53C286;

.navbar{
	background-color: $primary;
	display:flex;
	position:fixed;
	top:0;
	z-index:100;
	left:0;
	width:100vw;
	height: 3rem;
	color:white;
	align-items: center;
	justify-content:space-between;
	font-family: 'Manrope', sans-serif;
	gap:5rem;


	.brand-name{
		font-family: 'Pacifico', cursive;
		font-size:clamp(20px, 3vw, 60px);
		text-decoration: none;
		margin-left:10px;

	}
	.login{
		color:$secondary;
		text-decoration: none;
		font-weight: 600;
		padding:3px 10px;
		border-radius:5px;
		border:2px solid $secondary;
		transition:all 500ms ease ;

		&:hover{
			background-color: $secondary;
			color:$primary;
		}

	}
	.form{
		display:flex;
		width:500px;

		.search-bar{
			width:80%;
			outline:none;
			border-radius: 5px;
			margin-right: 5px;
			color:rgb(59, 59, 59);
			border:3px solid $secondary;
	
				
		}
		.search-btn{
			color:$primary;
			background-color: $secondary;
			outline:none;
			border: none;
			padding: 4px 6px;
			cursor: pointer;
			border-radius: 5px;
			font-weight: 600;
	
		}
	}
	#cart{
		margin-right:20px;

		#cart-icon{
			font-size:36px;

			&:hover{
				color:$secondary;
			}
		}
	}
	
}

.footer{
	background-color:$primary;
	width:100vw;
	height: 200px;
	margin-top: 20vh;
	z-index: 1;

	#back-btn{
		background-color: #458071;
		width:100vw;
		padding:8px 0px;
		position:absolute;
		text-align: center;
		color:white;
		font-size:1rem;
		cursor:pointer;
	}
}

.Slides{
	width:100vw;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

.card-holder{
	display:flex;
	flex-wrap: wrap;
	justify-content:space-evenly;

	.card{
		width: 220px;
		height:max-content;
		padding-bottom: 1.5rem;
		margin: 1rem 0.25rem; 
		cursor: pointer;
		background-color: rgb(255, 255, 255);
		transition:box-shadow 500ms ease-in;

		&:hover{
			box-shadow: 6px 6px 6px rgb(206, 206, 206), -6px -6px 6px rgb(206, 206, 206);
		}

		#title{
			font-size:1.5rem;
			text-align: center;
			margin-bottom:25px;
			color:$primary;
		}
		#price{
			margin-left: 14px;
			font-weight:600;
			color:rgb(65, 65, 65);
		}
		.btn-holder{
			display:flex;
			justify-content:space-evenly;

			.buy-btn{
				background: $accent;
				color:white;
				border-radius: 10px;
				text-decoration: none;
				border:2px solid $accent;
				padding:5px 5px;
			}

			.add-to-cart-btn{
				background:  white;
				border:2px solid rgb(114, 113, 113);
				color:rgb(114, 113, 113);
				border-radius: 10px;
				text-decoration: none;
				padding:5px 5px;
				transition: all 500ms ease;

				&:hover{
					background:rgb(114, 113, 113);
					border:2px solid rgb(114, 113, 113);
					color:white;
				}
			}
		}	
	}

	.cart-msg{
		background-color: rgb(114, 113, 113);
		padding: 8px 12px;
		padding-top: 2px;
		border-radius: 10px;
		position:fixed;
		bottom: 1rem;
		right: 1rem;
		z-index:2;
		color:white;
		display:none;

		.material-icons{
			position:relative;
			top:5px;
		}
	}
}

.title-holder{
	background-color:white;
	margin-top: 4rem;
	padding:1rem;
	line-height: 40px;

	#title{
		font-size:2.5rem;
		font-family:'Pacifico', cursive;
		text-align: center;
		margin-bottom:25px;
		color:$primary;
	}
	#title-body{
		width: 100%; 
		display: flex; 
		justify-content: space-around;

		.specs{
			display: inline-block; 
			font-size: clamp(1.5vw, 1rem, 14px); 
			color: rgb(61, 61, 61);
		}
		.checkout-btn{
			border-radius: 5px;
			text-decoration:none;
			font-weight: 600;
			font-family: 'Manrope', sans-serif;
			padding:0px 4px;
			color:white;
			background-color:$accent;
			transition:all 500ms ease ;

		}
	}
	
}

.title-table{
	background-color:white;
	width:70%;
	margin-left:15%;
	margin-top: 2rem;
	
	.cart-row{
		display:flex;
		justify-content:space-around;
	}

	.item-table{
		display:flex;
		align-items: center;

		#total{
			flex:1;
			margin-left: 0%;
			color:$primary;
			font-weight: 600;
		}
	}
}

#checkout-title{
	margin-top: 4rem;
	background-color:white;
	padding:1rem;
	margin-left: 15%;
	width: 70%;
	text-align: center;
	font-size:3rem;

	#title{
		font-size: 3rem; 
		font-family:'Pacifico', cursive; 
		color:$primary;
	}
}
.checkout-container{
	display:grid;
	grid-template-columns: 60% 40%;
	margin:50px;
	font-family: 'Manrope', sans-serif;

	.checkout-order{
		padding:1rem;
		background-color:white;
		
		#summary-title{
			text-align: center;
			color:$primary;
			font-weight:600;
			font-size: 1.5rem;
		}
		.cart-row{
			display:flex;
		}
		.item-row{
			display:flex;
			align-items: center;

			#total{
				flex:1;
				margin-left: 0%;
				color:$primary;
				font-weight: 600;
			}
		}
	}
	#peronal-form{
		padding:1rem;
		background-color:white;
		margin-right:3rem;
		height:max-content;

		#personal-info{
			text-align: center;
			color:$primary;
			font-weight:600;
			font-size: 1.5rem;
		}
		.form-item{
			outline:none;
			border-radius: 5px;
			margin: 10px 5px;
			color:rgb(59, 59, 59);
			border:1.5px solid $primary;
			margin-bottom: 0.5rem;
			width:45%;
			height:35px;
			transition:all 500ms ease;

			&:focus{
				border:3px solid $primary;
			}
		}

		.continue-btn{
			border-radius: 5px;
			text-decoration:none;
			font-weight: 600;
			font-family: 'Manrope', sans-serif;
			padding:7px 6px;
			outline:none;
			border:none;
			color:white;
			background-color:$accent;
			transition:all 500ms ease ;
			cursor:pointer;
		}
	}

	#payment-field{
		padding:1rem;
		background-color:white;
		margin-right:3rem;
		margin-top:1rem;
		height:max-content;
		display:none;

		.payment-title{
			text-align: center;
			color:$primary;
			font-weight:600;
			font-size: 1.5rem;
		}
	}
}

/*Paypal Styling*/
@media screen and (max-width: 400px) {
	#paypal-button-container {
		width: 100%;
	}
}
@media screen and (min-width: 400px) {
	#paypal-button-container {
		width: 250px;
	}
}