.navbar {
  background-color: #386C5F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 4;
  left: 0;
  width: 100vw;
  height: 3rem;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Manrope', sans-serif;
  gap: 5rem;
}

.navbar .brand-name {
  font-family: 'Pacifico', cursive;
  font-size: clamp(20px, 3vw, 60px);
  text-decoration: none;
  margin-left: 10px;
}

.navbar .login {
  color: #F7E382;
  text-decoration: none;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 5px;
  border: 2px solid #F7E382;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navbar .login:hover {
  background-color: #F7E382;
  color: #386C5F;
}

.navbar .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
}

.navbar .form .search-bar {
  width: 80%;
  outline: none;
  border-radius: 5px;
  margin-right: 5px;
  color: #3b3b3b;
  border: 3px solid #F7E382;
}

.navbar .form .search-btn {
  color: #386C5F;
  background-color: #F7E382;
  outline: none;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.navbar #cart {
  margin-right: 20px;
}

.navbar #cart #cart-icon {
  font-size: 36px;
}

.navbar #cart #cart-icon:hover {
  color: #F7E382;
}

.footer {
  background-color: #386C5F;
  width: 100vw;
  height: 200px;
  margin-top: 20vh;
  z-index: 1;
}

.footer #back-btn {
  background-color: #458071;
  width: 100vw;
  padding: 8px 0px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.Slides {
  width: 100vw;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

.card-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-holder .card {
  width: 220px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 1.5rem;
  margin: 1rem 0.25rem;
  cursor: pointer;
  background-color: white;
  -webkit-transition: -webkit-box-shadow 500ms ease-in;
  transition: -webkit-box-shadow 500ms ease-in;
  transition: box-shadow 500ms ease-in;
  transition: box-shadow 500ms ease-in, -webkit-box-shadow 500ms ease-in;
}

.card-holder .card:hover {
  -webkit-box-shadow: 6px 6px 6px #cecece, -6px -6px 6px #cecece;
          box-shadow: 6px 6px 6px #cecece, -6px -6px 6px #cecece;
}

.card-holder .card #title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 25px;
  color: #386C5F;
}

.card-holder .card #price {
  margin-left: 14px;
  font-weight: 600;
  color: #414141;
}

.card-holder .card .btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-holder .card .btn-holder .buy-btn {
  background: #53C286;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid #53C286;
  padding: 5px 5px;
}

.card-holder .card .btn-holder .add-to-cart-btn {
  background: white;
  border: 2px solid #727171;
  color: #727171;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.card-holder .card .btn-holder .add-to-cart-btn:hover {
  background: #727171;
  border: 2px solid #727171;
  color: white;
}

.card-holder .cart-msg {
  background-color: #727171;
  padding: 8px 12px;
  padding-top: 2px;
  border-radius: 10px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 2;
  color: white;
  display: none;
}

.card-holder .cart-msg .material-icons {
  position: relative;
  top: 5px;
}

.title-holder {
  background-color: white;
  margin-top: 4rem;
  padding: 1rem;
  line-height: 40px;
}

.title-holder #title {
  font-size: 2.5rem;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-bottom: 25px;
  color: #386C5F;
}

.title-holder #title-body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title-holder #title-body .specs {
  display: inline-block;
  font-size: clamp(1.5vw, 1rem, 14px);
  color: #3d3d3d;
}

.title-holder #title-body .checkout-btn {
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  padding: 0px 4px;
  color: white;
  background-color: #53C286;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.title-table {
  background-color: white;
  width: 70%;
  margin-left: 15%;
  margin-top: 2rem;
}

.title-table .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title-table .item-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-table .item-table #total {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0%;
  color: #386C5F;
  font-weight: 600;
}

#checkout-title {
  margin-top: 4rem;
  background-color: white;
  padding: 1rem;
  margin-left: 15%;
  width: 70%;
  text-align: center;
  font-size: 3rem;
}

#checkout-title #title {
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
  color: #386C5F;
}

.checkout-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  margin: 50px;
  font-family: 'Manrope', sans-serif;
}

.checkout-container .checkout-order {
  padding: 1rem;
  background-color: white;
}

.checkout-container .checkout-order #summary-title {
  text-align: center;
  color: #386C5F;
  font-weight: 600;
  font-size: 1.5rem;
}

.checkout-container .checkout-order .cart-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout-container .checkout-order .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout-container .checkout-order .item-row #total {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0%;
  color: #386C5F;
  font-weight: 600;
}

.checkout-container #peronal-form {
  padding: 1rem;
  background-color: white;
  margin-right: 3rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.checkout-container #peronal-form #personal-info {
  text-align: center;
  color: #386C5F;
  font-weight: 600;
  font-size: 1.5rem;
}

.checkout-container #peronal-form .form-item {
  outline: none;
  border-radius: 5px;
  margin: 10px 5px;
  color: #3b3b3b;
  border: 1.5px solid #386C5F;
  margin-bottom: 0.5rem;
  width: 45%;
  height: 35px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.checkout-container #peronal-form .form-item:focus {
  border: 3px solid #386C5F;
}

.checkout-container #peronal-form .continue-btn {
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  padding: 7px 6px;
  outline: none;
  border: none;
  color: white;
  background-color: #53C286;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.checkout-container #payment-field {
  padding: 1rem;
  background-color: white;
  margin-right: 3rem;
  margin-top: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: none;
}

.checkout-container #payment-field .payment-title {
  text-align: center;
  color: #386C5F;
  font-weight: 600;
  font-size: 1.5rem;
}

/*Paypal Styling*/
@media screen and (max-width: 400px) {
  #paypal-button-container {
    width: 100%;
  }
}

@media screen and (min-width: 400px) {
  #paypal-button-container {
    width: 250px;
  }
}
/*# sourceMappingURL=main.css.map */